{% extends 'scatterauth/base.html' %}
{% block content %}
  <div class="row m-t-2">
    <div class="container">
      <h4 class="col-md-12 text-center" style="margin-top: 15px" id='container-text'>
        <button onclick="login()">Login with a scatter</button>
      </h4>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}

  <script>
    async function login(){
      const network = ScatterJS.Network.fromJson({
        blockchain: 'eos',
        chainId: 'e70aaab8997e1dfce58fbfac80cbbb8fecec7b99cf982a9444273cbc64c41473',
        host: 'jungle2.cryptolions.io',
        port: 80,
        protocol: 'http'
      });
      var login_url = '{% url 'scatterauth_login_api' %}';
      var text_to_sign = "{{ settings.SCATTERAUTH_DOMAIN }}";

      connected = await ScatterJS.connect('baf', {network});
      console.log('connected: ', connected);
      let scatter = ScatterJS.scatter;
      if (connected){
        await loginWithAuthenticate(
                login_url,
                text_to_sign,
                alert,
                alert,
                alert,
                response => alert(response.error),
                response => document.location=response.redirect_url)
      }
    }
  </script>
{% endblock javascript %}
