{% extends 'scatterauth/base.html' %}
{% block content %}
  <div class="row m-t-2">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
  <button onclick="signup2()">Sigup with scatter</button>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>

    // Custom network example
    /*
    const CHAIN_ID = '038f4b0fc8ff18a4f0842a8f0564611f6e96e8535901dd45e43ac8691a1c4dca';
    const CHAIN_PROTOCOL = 'http';
    const CHAIN_HOST = '193.93.219.219';
    const CHAIN_PORT = 8888;

    const NETWORK = {
      protocol: CHAIN_PROTOCOL,
      blockchain: 'eos',
      host: CHAIN_HOST,
      port: CHAIN_PORT,
      chainId: CHAIN_ID
    };
    */
    function signup2() {
      const network = ScatterJS.Network.fromJson({
        blockchain: 'eos',
        chainId: 'e70aaab8997e1dfce58fbfac80cbbb8fecec7b99cf982a9444273cbc64c41473',
        host: 'jungle2.cryptolions.io',
        port: 80,
        protocol: 'http'
      });

      const signup_url = '{% url 'scatterauth_signup_api' %}';
      const fields = [];
      const public_key_field_name = 'username';

      ScatterJS.connect('baf', network).then(
        connected => {
          if (connected) {
            let scatter = ScatterJS.scatter;
            console.log("Scatter installed!");
            console.log(scatter.identity)
            if (scatter.identity) {
              // login the user with api
              console.log("Identity found");
              console.log(scatter.identity);
              console.log("Welcome, " + scatter.identity.name + '<br>Your public key: ' + scatter.identity.publicKey);
              signupWithData(
                      scatter.identity.publicKey,
                      public_key_field_name,
                      null,
                      signup_url,
                      x=>console.log(x),
                      response => {document.location = response.redirect_url},
                      response => alert(JSON.stringify(response.error))
              )
            } else {
              requestIdentity(
                      fields,
                      public_key_field_name,
                      signup_url,
                      network,
                      console.log
              )
            }
            console.log(x);
            if(x.success){
              document.location = result.redirect_url;
            } else {
              alert(x.error);
            }
          }
          else {
            alert('not connected');
          }
        }
      );
    }

  </script>
{% endblock javascript %}
