{% extends 'web3auth/base.html' %}
{% block content %}
  <div class="row m-t-2">
    <button type="button" onclick="startLogin()">Login</button>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    function startLogin() {
      if (typeof web3 !== 'undefined') {
        checkWeb3(function (loggedIn) {
          if (!loggedIn) {
            alert("Please unlock your web3 provider (probably, Metamask)")
          } else {
            var login_url = '{% url 'web3auth_login_api' %}';
            web3Login(login_url, console.log, console.log, console.log, console.log, console.log, function (resp) {
              window.location.replace(resp.redirect_url);
            });
          }
        });

      } else {
        alert('web3 missing');
      }
    }
  </script>
{% endblock javascript %}
